body
{
    margin: 0;
    padding: 0;

    border: 0;
}

a
{
    font-family: 'PT Sans', Helvetica;
    font-size: 1.8em;
    line-height: 46px;

    text-decoration: none;

    color: #666;
    border-bottom: 1px dashed #666;
}

a.mail
{
    font-size: 1em;
}
.header_cont
{
    width: 420px;
    margin: auto;
}

.menu
{
    width: 170px;
    margin-left: auto;
}

a.open
{
    font-size: 12px;

    margin-right: 10px;
}

a:hover
{
    color: #0072ba;
}

.container
{
    width: 470px;
    margin: 50px auto;
}

.spoiler_body
{
    display: none;
}

.spoiler_links
{
    cursor: pointer;
}


audio
{
    margin: 0 -135px;
}

.bit
{
    margin: 0 -204px;
}

img
{
    padding: 0 0 40px 0;
}

img.ftr
{
    padding: 0 0 0 0;
}

.block
{
    display: inline-block;

    margin-top: 100px;
}

.block_one,
.block_two,
.block_three,
.block_four,
.block_five,
.block_six,
.block_seven,
.block_eight,
.block_nine,
.block_ten,
.block_eleven,
.block_twelve,
.block_thirteen,
.block_fourteen,
.block_fifteen
{
    display: inline-block;

    width: 23px;

    -webkit-transition: height 1s; /* Safari and Chrome */
       -moz-transition: height 1s; /* Firefox 4 */
         -o-transition: height 1s; /* Opera */
            transition: height 1s;

    background: #0072ba;
}

.block_one
{
    height: 15px;
}

.block_two
{
    height: 60px;
}

.block_three
{
    height: 40px;
}

.block_four
{
    height: 35px;
}

.block_five
{
    height: 15px;
}

.block_six
{
    height: 55px;
}

.block_seven
{
    height: 25px;
}

.block_eight
{
    height: 60px;
}

.block_nine
{
    height: 40px;
}

.block_ten
{
    height: 30px;
}

.block_eleven
{
    height: 35px;
}

.block_twelve
{
    height: 55px;
}
.block_thirteen
{
    height: 25px;
}

.block_fourteen
{
    height: 35px;
}

.block_fifteen
{
    height: 20px;
}

.block_one:hover,
.block_two:hover,
.block_three:hover,
.block_four:hover,
.block_five:hover,
.block_six:hover,
.block_seven:hover,
.block_eight:hover,
.block_nine:hover,
.block_ten:hover,
.block_eleven:hover,
.block_twelve:hover,
.block_thirteen:hover,
.block_fourteen:hover,
.block_fifteen:hover
{
    height: 100px;

    -webkit-transition: height .3s; /* Safari and Chrome */
       -moz-transition: height .3s; /* Firefox 4 */
         -o-transition: height .3s; /* Opera */
            transition: height .3s;

    background: #d8d8d8;
}

@media screen and (max-width: 320px)
{
    .header_cont
    {
        width: 320px;
        margin-left: 8px;
    }
    .container
    {
        width: 360px;
        margin: 0 -25px;
    }
    .block_twelve,
    .block_thirteen,
    .block_fourteen,
    .block_fifteen
    {
        display: none;
    }
    .tabs
    {
        font-family: 'PT Sans', Helvetica;
        font-size: 1.5em!important;
    }
    .tabs li
    {
        margin: 5px 10px!important;
    }
    .tabs_container
    {
        padding: 20px 0 0 40px!important;
    }
    .tab_container
    {
        padding: 15px 0 30px!important;
    }
}


@media screen and (max-width: 480px)
{
    .block_fourteen,
    .block_fifteen
    {
        display: none;
    }
}

#footer
{
    font-size: 18px;

    display: block;

    padding: 30px 0;

    text-align: center;

    border-top: 1px solid #efefef;
    background: #f7f7f7;
    box-shadow: inset 0 1px 30px #eee;
}



.tabs_container
{
    padding: 20px;
}

.tabs
{
    font-family: 'PT Sans', Helvetica;
    font-size: 1.8em;
    line-height: 36px;

    padding: 0;

    text-decoration: none;

    color: #666;
}

.tabs_container .tabs
{
    margin: 0 !important;
}

.tabs_container .tabs li
{
    margin: 5px 25px;

    cursor: pointer;

    border-bottom: 1px dashed #666;
}

.tabs li.active
{
    color: #0072ba;
    border-bottom: 1px dashed #0072ba;
}

.tab_container
{
    display: none;

    margin: -1px 0 0 0;
    padding: 25px;
}

.tab_container ul li
{
    margin: 0 0 8px 0;
}

.inl-bl
{
    display: inline-block;
}
